@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: system-ui, Arial, Helvetica, sans-serif;
  --font-geist-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #dfdddd;
  --textDark: #651B1B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-colors duration-300;
}