@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: system-ui, Arial, Helvetica, sans-serif;
  --font-geist-mono: ui-monospace, SFMono-Regular, Menlo, monospace;

  /* Modo Claro */
  --accent: #651B1B;
  --success: #1B652B; /* SIN GUIONES */
}

.dark {
  --background: #0a0a0a;
  --foreground: #dfdddd;
  /* Modo Oscuro */
  --accent: #9A2C2C;
  --success: #2F9C40; /* SIN GUIONES */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-colors duration-300;
}